*{
	box-sizing: border-box;
}

body{
	font: 15px/1.5 Arail, Helvetica, sans-serif;
	padding: 0;
	margin: 0;
}
.social{
	background: red;
	color: white;
	height: 2rem;
}

.social .logo, .social nav{
	width: 50%;
	float: left;
	padding-right: 4rem;
}

.logo h1{
	margin: 0;
	font-size: 1.5rem;;
}

.social ul{
	list-style: none;
	margin: 0;
}

.social nav ul li{
	float: right;
	margin-right: 1rem;
}

.social nav ul li i{
	color: white;
}

/* Global */
.container{
	margin:auto;
	overflow:hidden;

}

header ul{
	margin: 0;
	padding: 0;
} 

/* Header */
header{
	background: #A9A9A9;
	padding: 1rem;
	min-height: 90px;

}
header a{
	color: black;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
}

header li{
	float: left;
	display: inline;
	padding: 0 15px;
}

header .branding{
	margin-right: 100px;

} 

header .branding h1{
	width: 40%;
	float: left;
	margin: 0;
}

header nav{
	padding: 5px;
	margin-top: 0%;
	width: 60%;
	float: left;
}

header .highlight, header .current a{
	color: red;
	font-weight: bold;
}

/* showcase */
#showcase{
	min-height: 600px;
	background: url('img/bus.jpg.jpg') no-repeat;
	background-size: cover;
	padding-left: 2rem;
}
.container{
	font-size: 25px;
	line-height: 50px;
}
.container p{
	padding-right: 0%;
	margin-top: 50px;
}
.container .box{
	width: 32%;
	float: left;
	border: 1px solid gray;
	border-radius: 25px;
	margin-right: 10px;
	padding: 1rem;
	text-align: center;
}

.container .box i{
	font-size: 3rem;
	color: orangered;
}

.read-more{
	border: 1px solid red;
	color: red;
	display: inline-block;
	padding: .1rem 1rem;
	border-radius: 1rem;
	text-decoration: none;
	line-height: 50px;
}
.text{
	text-align: center;
	margin-top: 60px;
}
 
.margo{
	background: grey;
	height: 100px;
	font-size: 30px;
	padding-left: 400px;
	margin-top: 60px;
}
.margo p{
	padding-top: 50px;
}
.dropbtn {
	background-color: gray;
	color: white;
	padding: 16px;
	font-size: 16px;
	border: none;
  }
  
  .dropdown {
	position: absolute;
	display: inline-block;
	z-index: 10;
  }
  .drop-after{
	  margin-left: 10rem;
  }
  
  .dropdown-content {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 10;
  }
  
  .dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: red;}